.checklist {
	padding-left: 40px;	
	list-style: none;

	li {
		position: relative;
		line-height: 32px;
		font-weight: 400;
		font-size: 18px;

		&:before {
			position: absolute;
			left: -40px;
			top: 0px;

			width: 9px;
			height: 21px;

			border-bottom: 4px solid $color_main;
			border-right: 4px solid $color_main;

			transform: rotate(45deg);

			content: '';
		}
	}
}