// block
.fears-solutions {
	margin-bottom: 70px;

	background-image: url(/img/bg/bg-smoke-min.png );
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;

		@media screen and (max-width: 790px) {
			margin: 70px 0;
		}


}

// elements
.fears-solutions__fears{
	position: relative;
	min-height: 520px;

		@media screen and (max-width: 790px) {
			display: none;
		}

	&:after {
		position: absolute;
		width: 50%;
		height: 414px;

		right: 0;
		bottom: 0;

		background-image: url(/img/bg/bg-girl-min.png);
		background-size: contain;
		background-position: bottom center;
		background-repeat: no-repeat;

		content: '';
	}

	&:before {
		position: absolute;
		width: 75%;
		height: 514px;

		left: 0;
		top: 0;

		z-index: 2;

		background-image: url(/img/problems.png);
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;

		content: '';
	}
}
.fears-solutions__solutions{
	display: flex;
	flex-flow: row wrap;

	padding: 70px;
	border: 3px solid #aeaeae;

	background-color: #fff;

		@media screen and (max-width: 790px) {
				padding: 18px;
			}

	.col-6 {
		flex: 1 1 45%;

			@media screen and (max-width: 790px) {
				flex: 1 1 90%;
			}

		&:first-child .subheading {
			@media screen and (max-width: 790px) {
				margin-top: 0;
			}
		}

		&:first-child {
			margin-right: 20px;
		}

		
	}

	.checklist li {
		margin-bottom: 40px;
		font-size: 18px;
		font-weight: 600;
	}
}

//modificators