// block
.header {
	border-top: 20px solid $color_main;

	min-height: 170px;

	.container {
		display: flex;
		flex-flow: row nowrap;

		@media screen and (max-width: 768px) {
			flex-flow: row wrap;
		}
	}

	.logo {
		flex: 1 1 20%;
		margin-left: 70px;

		img {
			margin-top:-20px;
		}
			@media screen and (max-width: 600px) {
			    flex: 1 1 100%;
			    display: flex;
			    justify-content: center;
			    margin-left: 0;
			}
	}
}
			// elements
			.header__offer {
				flex: 1 1 40%;

					@media screen and (max-width: 413px) {
						flex: 1 1 100%;
					}

				.company {
					margin-top: 40px;

					font-size: 24px;
					text-transform: uppercase;
					font-weight: 900;
					color: $color_font-dark;

							@media screen and (max-width: 768px) {
					          font-size: 21px;
					          text-align: center;
					        }
				}
				.advantages {
					color: #7b7b7b;
					font-size: 18px;
					font-weight: 400;
					@media screen and (max-width: 768px) {
				          font-size: 15px;
				          text-align: center;
				        }
				}
			}
			.header__phones {
				flex: 1 1 40%;
				padding-left: 70px;

						@media screen and (max-width: 600px) {
							padding-left: 50px;
						}
						@media screen and (max-width: 413px) {
							flex: 1 1 100%;
							padding-left: 0;
						}

				ul {
					list-style: none;
					font-size: 30px;
					font-weight: 600;

						@media screen and (max-width: 768px) {
							display: flex;
							flex-flow: row wrap;
						}
						@media screen and (max-width: 600px) {
							display: flex;
							flex-flow: column nowrap;
						}
						@media screen and (max-width: 413px) {
							padding: 0;
							text-align: center;
						}

					li {
						flex: 1 1 30%;

							a {
								color: #0e0f0f;
								text-decoration: none;
							}
					}

					li:first-child {
						position: relative;
						font-weight: 900;			
						&:before {
							position: absolute;				
							top: 7px;
							left: -70px;

							color: #7b7b7b;
							font-size: 18px;
							font-weight: 400;

							content: '+7 3852';

								@media screen and (max-width: 413px) {
									display: none;
								}
							

						}
					}
				}
			}