// block
.help-item {
	flex: 1 1 20%;
	padding: 1%;
	text-align: center;

			@media screen and (max-width: 768px) {
		        flex: 1 1 27%;
	        }

	        @media screen and (max-width: 590px) {
		        flex: 1 1 45%;
	        }

}

	// elements
	.help-item__icon {
		width: 120px;
		height: 120px;
		margin: 0 auto;
		border-radius: 50%;
		border: 4px solid transparent;

		background-size: 74px;
		background-position: center center;
		background-repeat: no-repeat;

		// &:hover {
		// 	border: 4px solid rgba(0,0,0,.1);
		// }

	}
	.help-item__text {
		font-size: 18px;
		font-weight: 700;
			@media screen and (max-width: 768px) {
		        font-size: 16px;
		        font-weight: 400;
	        }
	}

	// modificators