// block
.number-save {}

		// elements
		.number-save__top-stipe {
			background-color: #a01a18;
			font-size: 48px;
			color: #fff;
			text-align: center;
			padding: 1px 0;
			
				span {
					a {color: #fff; text-decoration: none;}	
									
					@media screen and (max-width: 1050px) {
					  	display: block;
					}

					@media screen and (max-width: 630px) {
					  	font-size: 38px !important;
					}
					@media screen and (max-width: 460px) {
					  	font-size: 28px !important;
					}
				}
				span:nth-child(2) {
					font-weight: 900;
					font-size: 46px;
					padding-left: 20px;
				}
		}
	
		// modificators
		.number-save__bottom-stipe {
			background-color: #821413;
			font-size: 48px;
			color: #fff;
			text-align: center;
			padding: 1px 0;

			p {
				margin: 20px 0;
				font-size: 36px;

					@media screen and (max-width: 460px) {
					  	font-size: 24px;
					}
			}
		}	