.offer-w-btn {

	flex: 1 1 28%;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	min-height: 200px;
	padding: 30px 20px;

	.subheading {
		// margin-bottom: 90px;
		text-align: center;
	}
}