
// FONTS
// ===========================

@font-face {
  font-family: 'DIN-Pro';
  src: url("/fonts/DINPro/DINPro-Black.eot");
  src: local("DIN Pro Black"), local("DINPro-Black"),
  	url("/fonts/DINPro/DINPro-Black.woff") format("woff"), 
  	url("/fonts/DINPro/DINPro-Black.eot?#iefix") format("embedded-opentype"),  	 
  	url("/fonts/DINPro/DINPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'DIN-Pro';
  src: url("/fonts/DINPro/DINPro-Bold.eot");
  src: local("DIN Pro Condensed Bold Italic"), local("DINPro-BoldItalic"), 
  	url("/fonts/DINPro/DINPro-Bold.eot?#iefix") format("embedded-opentype"), 
  	url("/fonts/DINPro/DINPro-Bold.woff") format("woff"), 
  	url("/fonts/DINPro/DINPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'DIN-Pro';
  src: url("/fonts/DINPro/DINPro-BoldItalic.eot");
  src: local("DIN Pro Condensed Black"), local("DINPro-BoldItalic"), 
  	url("/fonts/DINPro/DINPro-BoldItalic.eot?#iefix") format("embedded-opentype"), 
  	url("/fonts/DINPro/DINPro-BoldItalic.woff") format("woff"), 
  	url("/fonts/DINPro/DINPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

  @font-face {
  font-family: 'DIN-Pro';
  src: url("/fonts/DINPro/DINPro-Medium.eot");
  src: local("DIN Pro Condensed Black"), local("DINPro-Medium"), 
  	url("/fonts/DINPro/DINPro-Medium.eot?#iefix") format("embedded-opentype"), 
  	url("/fonts/DINPro/DINPro-Medium.woff") format("woff"), 
  	url("/fonts/DINPro/DINPro-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

  @font-face {
  font-family: 'DIN-Pro';
  src: url("/fonts/DINPro/DINPro-MediumItalic.eot");
  src: local("DIN Pro Condensed Black"), local("DINPro-Medium"), 
  	url("/fonts/DINPro/DINPro-MediumItalic.eot?#iefix") format("embedded-opentype"), 
  	url("/fonts/DINPro/DINPro-MediumItalic.woff") format("woff"), 
  	url("/fonts/DINPro/DINPro-MediumItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

  @font-face {
  font-family: 'DIN-Pro';
  src: url("/fonts/DINPro/DINPro-LightItalic.eot");
  src: local("DIN Pro Condensed Black"), local("DINPro-Medium"), 
    url("/fonts/DINPro/DINPro-LightItalic.eot?#iefix") format("embedded-opentype"), 
    url("/fonts/DINPro/DINPro-LightItalic.woff") format("woff"), 
    url("/fonts/DINPro/DINPro-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }




// TYPOGRAPHY
// =======================

body {
  color: #242323;
}
h1,h2,h3,h4,h5,h6,p,a,ul, input, button {
  font-family: 'DIN-Pro', sans-serif;
}

h1 {
  color: #fb3231; 
  font-size: 38px;
  text-transform: uppercase; 
  font-weight: 700;
      @media screen and (max-width: 768px) {
          font-size: 31px;
        }
}
h2 {
  color: $color_font;
  text-transform: uppercase; 
  font-size: 30px;
  font-weight: 700;
  margin: 55px;
      @media screen and (max-width: 768px) {
          font-size: 26px;
        }
}
h3 {color: $color_font;}
h4 {color: $color_font;}
h5 {color: $color_font;}
h6 {color: $color_font;}



h3,h4,h5,h6 {font-weight:400}

p {}

a {}
a:visited {}
a:active {}
a:hover {}

button {
  border: none;
  outline: none;
}
